<div class="headerWrpr col-lg-12">
<nav class="navbar-header col-lg-8">
	<ul class="nav navbar-nav">
		<li><a href="#" class="navbar-brand">Company Logo</a></li>
		<li><a href="#">Ideas</a></li>
		<li><a href="#">Learning</a></li>
		<li><a href="#">Events</a></li>
		<li><a href="#">Shop</a></li>
	</ul>
</nav>
<div class="navbar-header col-lg-4">
	<app-search-box class="col-lg-6"></app-search-box>
	<ul class="nav navbar-nav">
	  <li><a href="#">Feedback</a></li>
	  <li><a href="#">Log in</a></li>
	</ul>
</div>
</div>